


<div class="box">
    <!-- {{str}} -->
    <!-- {{showPhoto()}} -->
    <img [src]="showPhoto()"/>
    <!-- <img src='assets/images/water.jpg'/> -->
    <!-- <img src='../../../../assets/images/coffee.JPG'/>
    <img src='../../assets/images/coffee.JPG'/>
    <img src='./assets/images/coffee.JPG'/>
    <img height="100px" src='{image}'/>
    <img height="100px" src='./assets/images/coffee.JPG'/>
    <img height="100px" src='../../assets/images/coffee.JPG'/>
    <img height="100px" src='../../../../assets/images/coffee.JPG'/>
    <img height="100px" src='src/assets/images/coffee.JPG'/>
    <img height="100px" src='./assets/images/coffee.JPG'/>
    <img height="100px" src="{'./assets/images/coffee.JPG'}"/> -->

</div>