form {
    width: 250px;
    /* padding: 10px;
    margin: 10px; */
}

h2 {
    text-align: center;

}

input {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 20px 0;
}
span {
    color: red;
    position: absolute;
    margin: 0 20px;
}
button {
    width: 100%;
    margin: 10px 0 20px 0;
}

button:hover {
    cursor: pointer;
    transform: scale(0.98);
}

.ng-touched.ng-invalid:not(form) {
    border: 2px solid red;
    background-color: pink;
}