<div class="box">
  <p>
    <button [ngStyle]="{backgroundColor: 'red', color: 'white', margin: '5px'}" (click)="reportColor('red')">Red</button>
    <button [ngStyle]="{backgroundColor: 'green', color: 'white', margin: '5px'}" (click)="reportColor('green')">Green</button>
    <button [ngStyle]="{backgroundColor: 'blue', color: 'white', margin: '5px'}" (click)="reportColor('blue')">Blue</button>
    <button [ngStyle]="{backgroundColor: 'yellow', margin: '5px'}" (click)="reportColor('yellow')">Yellow</button>
  </p>
</div>
