<div class="box">
    <h2>הרשם</h2>
    <form (ngSubmit)="submit()" #formInfo="ngForm">

        <label>שפ פרטי: </label>
        <input type="text" name="firstName" [(ngModel)]="user.firstName" #firstNameBox="ngModel" required minlength="3">
        <span *ngIf="firstNameBox.touched && firstNameBox.errors?.['required']">חסר שם</span>
        <span *ngIf="firstNameBox.touched && firstNameBox.errors?.['minlength']">חסר אורך</span>

        <label>שם משפחה: </label>
        <input type="text" name="lastName" [(ngModel)]="user.lastName" #lastNameBox="ngModel" required minlength="3">
        <span *ngIf="lastNameBox.touched && lastNameBox.errors?.['required']">חסר שם</span>
        <span *ngIf="lastNameBox.touched && lastNameBox.errors?.['minlength']">חסר אורך</span>

        <label>יוזר: </label>
        <input type="text" name="username" [(ngModel)]="user.username" #usernameBox="ngModel" required minlength="3">
        <span *ngIf="usernameBox.touched && usernameBox.errors?.['required']">חסר יוזר</span>
        <span *ngIf="usernameBox.touched && usernameBox.errors?.['minlength']">חסר אורך</span>

        <label>ססמא: </label>
        <input type="password" name="password" [(ngModel)]="user.password" #passwordBox="ngModel" required minlength="3">
        <span *ngIf="passwordBox.touched && passwordBox.errors?.['required']">חסר ססמא</span>
        <span *ngIf="passwordBox.touched && passwordBox.errors?.['minlength']">חסר אורך</span>

        <button [disabled]="formInfo.invalid">הרשם</button>
    </form>
</div>